mixin parameters(params)
  if params
    section
      h4= Parameters
      table
        thead: tr
          td Name
          td Type
          td Default
          td Description
        tbody
          each param in params
            tr
              td= param.name
              td!= type(param.type)
              td
                if param.default
                  code= param.default
              td!= markdown(param.description)
